<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="@(ViewBag.Theme ?? "light")" class="@($"theme-{ViewBag.Theme ?? "light"}")">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.ApplicationName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/iBudget.styles.css" asp-append-version="true" />
</head>

<body>
    @await RenderSectionAsync("Header", required: false)

    @RenderBody()

    @await RenderSectionAsync("Footer", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" type="module" defer asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
