@using Shared
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="@(ViewBag.Theme ?? "light")" class="@($"theme-{ViewBag.Theme ?? "light"}")">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Constants.ApplicationName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js" type="text/javascript"></script>
</head>

<body>
@await RenderSectionAsync("Header", false)

@RenderBody()

@await RenderSectionAsync("Footer", false)

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" type="module" defer asp-append-version="true"></script>
<script src="~/js/deleteElementConfirmationHelper.js" asp-append-version="true"></script>
<script src="~/lib/select2/dist/js/select2.min.js"></script>

@await RenderSectionAsync("Scripts", false)
</body>

</html>