@model IEnumerable<ItemModel>

@{
    ViewData["Title"] = "Catálogo";
}

<header>
    <div class="text-center">
        <h1 class="display-4 fw-bolder">Catálogo</h1>
    </div>
</header>

<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">

            @foreach (var item in Model)
            {
                <div class="col mb-4">
                    <div class="card h-100">
                        @{
                            ItemImageModel defaultImage = item.GetMainImage();
                            if (defaultImage != null)
                            {
                                <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(defaultImage.ImageFile))" alt="@(defaultImage.FileName)" />
                            }

                            IEnumerable<ItemImageModel> otherImages = item.ItemImageList.Where(item => !item.Main).ToList();
                            if (otherImages != null)
                            {
                                <div class="card-group">
                                    @foreach (var image in otherImages)
                                    {
                                        <div class="card">
                                            <img class="img-fluid" style="width: 150px;" src="data:image/*;base64,@(Convert.ToBase64String(image.ImageFile))" alt="@(image.FileName)" />
                                        </div>
                                    }
                                </div>
                            }
                        }

                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@item.ItemName</h5>
                                <p>@item.Description</p>
                                <p class="fw-bold">@item.Value.ToString("C", new CultureInfo("pt-br"))</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
