@model ProposalModel

@using iBudget.Framework

<div class="mb-3 text-start">
    <label asp-for="PersonId" class="form-label"></label>
    <select asp-for="PersonId" class="form-select" asp-items="@ViewBag.People">
        <option disabled selected value="@(SelectDefault.Nenhum)">@(SelectDefault.Nenhum.ToString())</option>
    </select>
    <span asp-validation-for="PersonId" class="text-danger"></span>
</div>

<div class="mb-3 text-start">
    <label for="ItemList" class="form-label">Item</label>
    <select id="ItemList" class="form-select" asp-items="@ViewBag.Items" onchange="javascript:selectionChange(this)">
        <option disabled selected value="@((int)SelectDefault.Nenhum)">@(SelectDefault.Nenhum.ToString())</option>
    </select>
</div>

<div class="mb-3 text-start">
    <label asp-for="Discount" class="form-label"></label>
    <input id="discount" asp-for="Discount" type="number" step="0.01" onchange="calculateTotalValue()" class="form-control" placeholder=""
        value="0">
    <span asp-validation-for="Discount" class="text-danger"></span>
</div>

<hr class="my-4">
