@model PersonModel;

@using iBudget.Framework

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.FirstName, new { @class = "form-label"} )
    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } } )
    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" } )
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.LastName, new { @class = "form-label"} )
    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } } )
    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" } )
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.Contact.Email, new { @class = "form-label"} )
    @Html.EditorFor(model => model.Contact.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "your@email.com" } } )
    @Html.ValidationMessageFor(model => model.Contact.Email, "", new { @class = "text-danger" } )
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.Contact.Phone, new { @class = "form-label"} )
    @Html.EditorFor(model => model.Contact.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "+55 (49) 9 xxxx-xxxx" } } )
    @Html.ValidationMessageFor(model => model.Contact.Phone, "", new { @class = "text-danger" } )
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.Document.DocumentType, new { @class = "form-label"} )
    @Html.DropDownListFor(model => model.Document.DocumentType, Html.GetEnumSelectList<DocumentTypes>(), "--Selecione--", new { @class = "form-select" })
    <span asp-validation-for="Document.DocumentType" class="text-danger"></span>
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.Document.Document, new { @class = "form-label"} )
    @Html.EditorFor(model => model.Document.Document, new { htmlAttributes = new { @class = "form-control", placeholder = "" } } )
    @Html.ValidationMessageFor(model => model.Document.Document, "", new { @class = "text-danger" } )
</div>

<hr class="my-4">