@model ProposalModel

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.PersonId, new { @class = "form-label" })
    @Html.DropDownListFor(model => model.PersonId, (IEnumerable<SelectListItem>)ViewBag.People, "--Selecione--", new { @class = "form-select" })
    @Html.ValidationMessageFor(model => model.PersonId, "", new { @class = "text-danger" })
</div>

<div class="mb-3 text-start">
    <label for="ItemList" class="form-label">Item</label>
    <select id="ItemList" class="form-select" asp-items="@ViewBag.Items" onchange="javascript:selectionChange(this)">
        <option selected value="@((int)SelectDefault.Nenhum)">@(SelectDefault.Nenhum.ToString())</option>
    </select>
</div>

<div class="mb-3 text-start">
    @Html.LabelFor(model => model.Discount, new { @class = "form-label" })
    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { id = "discount", @class = "form-control", placeholder = "", step = "0.01", onchange = "calculateTotalValue()" } })
    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
</div>

<hr class="my-4">


<script type="text/javascript">
    $(document).ready(function () {
        $('#PersonId').select2({
            theme: 'bootstrap'
        });
    });

    $(document).ready(function () {
        $('#ItemList').select2({
            theme: 'bootstrap'
        });
    });
</script>